{% extends "main/head.html" %}

{% block content %}
<body style="background-color: gray; padding-bottom: 25%">
    <div class="has-text-centered mt-6">
      <h1 class="title is-1">About</h1>
      <h2 class="subtitle mb-6">A simple project, to fight media-censorship.</h2>
    </div>
    <div class="has-text-centered my-6 mx-3">
        <p>Hi, my name is Dyotson and I'm a little software developer from Chile. I saw what was happening is social media all over the Israel and Palestine conflict and decided to do something about it.</p>
        <p>What this web does is get the last updated posts every 10 minutes from popular front instagram page, and saves them locally. So, if instagram deletes a post, you can see it here.</p>
        <p>The project is Open Source with GNU GPLv3 license and you can find it at <a href="https://github.com/Dyotson/popular.front.archive">GitHub</a>.</p>
        <p>This page is not monetized in any way or form and I don't plan to do so, unless the creator of the page @popular.front contacts me to do something about this project.</p>
    </div>
</body>
{% endblock %}