<head>
    <title>Popular Front Archive</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<nav class="navbar is-black" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="{% url "index" %}">
        Popular Front Archive
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu ml-6">
      <div class="navbar-start">
        <a class="navbar-item" href="{% url "index" %}">
          Home
        </a>
  
        <a class="navbar-item">
          About
        </a>
      </div>
    </div>
</nav>

{% block content %}
{% endblock content %}